
.logo{
  padding: 0px;
  width: 200px;
}
.navbar{
  background-color: #3e66ef;
  margin: 0;
  padding: 0;
  font-size: 20px;
  padding: none;
  color: #fff;
}
.nav-link {
  color: #fff;
  text-decoration: none;
}
.nav-link:hover{
  border: solid 1px #fff;
  color: #fff;
}
.selection{
  border-bottom: none;
}



.landing{
  margin-top: 25%;
  font-size: 24px;
  line-break: 24px;
  font-weight: 700;
}
.landing-back{
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.desctList {
  margin-top: 5%;
  color: #fff;
  padding: 40px;
}

.offer-btn{
  background-color: #4bc5d4;
  padding: 10px 40px 10px 40px;
  height: 50px; 
  font-size: 40px; 
  letter-spacing: 2.5px;
  font-weight: 700;
  color: #ffffff;
  border: solid 2px;
  border-color: #ffffff; 
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.offer-btn:hover {
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: 0px 15px 20px #3e66ef;
  color: #4bc5d4;
}

.buy-btn{
  background-color: #3e66ef;
  padding: 10px 50px 10px 50px;
  height: 50px; 
  font-size: 40px; 
  text-decoration: none;
  letter-spacing: 2.5px;
  font-weight: 700;
  color: #ffffff;
  border: solid 2px;
  border-color: #ffffff; 
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.buy-btn:hover {
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: 0px 15px 20px #21b4c6;
  color: #3e66ef;
}


img {
  padding: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: 100%;
}
.fbutton {
  margin-top: 20%;
  height: 100px;
  margin-left: 40%;
  background-color: #032696 !important;
  color: #fff;
}